.Absences .Absences-Container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2.5em 0 9em;
  display: flex;
  margin: 2em 0;
}

.Absences .react-calendar {
  width: 30em;
  max-height: 20em;
}

.Absence {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2em 1em 2em;
  border: 1px solid var(--colorRaisinBlack);
  border-radius: 0.5em;
  cursor: pointer;
}

.Absence .Absence-Info > p{
  padding: 0 0.5em;
}

li {
  list-style: none;
  padding: 0;
  display: block;
  margin: 0;
}