.Absences .Absences-Container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2.5em 0 9em;
  display: flex;
  margin: 2em 0;
  flex-wrap: wrap;
}

.Absences .Absences-Container-Left {
  position: relative;
  width: 30em;
}

.Absences .Absences-Container-Fixed {
  position: fixed;
}

.Absences .react-calendar {
  width: 30em;
  max-height: 20em;
  border: none;
  box-shadow: 0 0.125em 0.75em 0 rgba(21, 22, 26, 0.15);
  border-radius: 0.8em;
}

.Absence {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 1em 0;
  box-shadow: 0 0.125em 0.75em 0 rgba(21, 22, 26, 0.15);
  border-radius: 0.5em;
  cursor: pointer;
  padding: 1em;
  transition: all 200ms ease-in;
  justify-content: space-between;
}

.Absence:hover {
  box-shadow: 0 0.5em 1.5em 0 rgba(21, 22, 26, 0.15);
  transition: all 200ms ease-in;
}

.Absence .Absence-Info > p{
  padding: 0 0.5em;
}

li {
  list-style: none;
  padding: 0;
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--colorRaisinBlack);
}

.Absences .Download-Button {
  cursor: pointer;
  margin: 2em 0;
  display: block;
  text-align: center;
  box-shadow: 0 0.125em 0.75em 0 rgba(21, 22, 26, 0.15);
  border-radius: 0.5em;
  padding: 1em;
  transition: all 200ms ease-in;
}

.Absences .Download-Button:hover {
  box-shadow: 0 0.5em 1.5em 0 rgba(21, 22, 26, 0.15);
  transition: all 200ms ease-in;
}

.Absences .Absences-List {
  margin: 0 2em;
  width: 45%;
}

@media all and (max-width: 1024px) {
  .Absences .Absences-Container {
    width: 90%;
    margin: 0 auto;
  }

  .Absences .Absences-Container-Left {
    width: 100%;
    position: relative;
  }

  .Absences .Absences-Container-Fixed {
    position: relative;
  }

  .Absences .react-calendar {
    width: 100%;
  }

  .Absences .Absences-List {
    margin: 1em 0;
    width: 100%;
  }
}